<%- include("partials/header.ejs") -%>
<div id="loading"></div>
<div class="home">
  <h1>Welcome to Keycloak with Node Js and EJS</h1>
  <h2>Start integrating servers with security.</h2>
</div>
<%- include("partials/footer.ejs") -%>